body, html{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
 body{
    color:white;
} 
/*phone styles*/
@media only screen and (max-width: 480px) and (min-width: 320px)
{
body{
    background-color:red;
}



}
/*ipads, tablets styles*/
@media only screen and (max-width: 768px) and (min-width: 480px) {
    body{
        background-color:orange;
        background-image: url('/images/day1bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .nav-items{
        display:none;
    }
    .mid{
        text-align: center;
        margin:40px 0 0 0;
        font-weight:700;
        font-size: large;
    }
    .button{
        text-align: center;
        
    }

}
/*laptop styles*/
@media only screen and (max-width: 1025px) and (min-width: 769px){
    body{
        background-color:blue;
    }
}

/* desktop styles*/
@media screen and (min-width: 1025px) {
    body{
        background-color:black;
    }
}