body, html{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
 body{
    color:white;
} 
.center{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:100%;
    
}
li{
    display: inline;
    padding:50px;
    
}
li:hover{
    color:green;
}
/*phone styles*/
@media only screen and (max-width: 480px) and (min-width: 320px)
{
    body{
        background-color:red;
        background-image: url('./images/day1bg.jpg');
       
    }
    .nav-items{
        display:none;
    }
    .mid{
        text-align: center;
        font-weight:700;
        font-size: large;
    }
    .button{
        text-align: center;
        
    }
    .icon .fas{
        color: #111;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
      }
      
      .sidenav {
        height: 100%;
        width: 0;
        background-color: #111;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.6s;
      
      }
      .sidenav a {
        padding: 9px 9px 9px 33px;
        text-decoration: none;
        font-size: 22px;
        color: #f1f1f1;
        display: block;
        transition: 0.4s;
        border-bottom: 1px solid #f1f1f1;
      
      }
      
      
      .sidenav a:hover{
        background:#2DBACB ;
      }
      
      .sidenav .fa-times{
        color: #ffffff;
        font-size: 20px;
      
      }
}




/*ipads, tablets styles*/
@media only screen and (max-width: 768px) and (min-width: 480px) {
    body{
        background-color:orange;
        background-image: url('./images/day1bg.jpg');
        
       
    }
    .nav-items{
        display:none;
    }
    .mid{
        text-align: center;
        font-weight:700;
        font-size: large;
    }
    .button{
        text-align: center;
        
    }
    .icon .fas{
        color: white;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
      }
      
      .sidenav {
        height: 100%;
        width: 0;
        background-color: #111;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.6s;
      
      }
      .sidenav a {
        padding: 9px 9px 9px 33px;
        text-decoration: none;
        font-size: 22px;
        color: #f1f1f1;
        display: block;
        transition: 0.4s;
        border-bottom: 1px solid #f1f1f1;
      
      }
      
      
      .sidenav a:hover{
        background:#2DBACB ;
      }
      
      .sidenav .fa-times{
        color: #ffffff;
        font-size: 20px;
      
      }
}
/*laptop styles*/
@media only screen and (max-width: 1025px) and (min-width: 769px){
    body{
        background-color:blue;
        background-image: url('./images/day1bg.jpg');
       
        
        
    }
    .icon{
        display:none;
    }
    .mid{
        text-align: center;
        font-size: 700;
        font-size: 5vh;
    }
    .button{
        text-align: center;
        font-size: 40px;
    }
    
    .close .fas{
        color:white;
        position: absolute;
        top:10px;
        right:10px;
        font-size: 30px;
        cursor:pointer;
    }
    .sidenav{
        display:inline;

    }
   .nav{
       text-align: center;
   }
    a{
        text-decoration: none;
        color:white;
        font-size: 25px;
        padding-right: 50px;
        
    }
}



/* desktop styles*/
@media screen and (min-width: 1025px) {
    body{
        background-color:black;
        background-image: url('./images/day1bg.jpg');
       
        
        
    }
    .icon{
        display:none;
    }
    
    
    .mid{
        text-align: center;
        font-size: 700;
        font-size: 5vh;
    }
    .button{
        text-align: center;
        font-size: 40px;
    }
    .close{
        display:none;
    }
    .fluid-container{
        text-align: center;
    }
    .nav{
        text-align: center;
    }
    a{
        text-decoration: none;
        color:white;
        font-size: 25px;
        padding-right: 50px;
        
    }
}